{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <title>{% translate "verify" %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'code.css' %}">
    <link rel="icon" href="{% static 'pics/leafs.png' %}">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main">
        <a class="header-link" id="header-link1" href="{% url 'home' %}">{% translate "home" %}</a>
        <form action="phone_code" method="post">
            <p class="text">{% translate "We have sent you a confirmation email." %}</p><br>
            <p class="text" id="text-bottom">{% translate "Please check your spam folder as well!" %}</p><br>
            {% csrf_token %}
            <input class="input" type="text" placeholder="123456" name="code"><br>
            <input class="input" type="hidden" name="ch" value="{{ ch }}"><br>
            <input class="input" type="hidden" name="r" value="{{ r }}"><br>
            <input class="input" type="hidden" name="p" value="{{ p }}"><br>
            <input class="input" type="hidden" name="a" value="{{ a }}"><br>
            <input class="input" type="hidden" name="e" value="{{ e }}"><br>
            <input class="button-submit" type="submit" value="submit"><br>
        </form> <br>
        <div class="div-again">
            <form action="email_again_view" method="post" class="form-again">
                {% csrf_token %}
                <input class="input" type="hidden" name="r" value="{{ r }}"><br>
                <input class="input" type="hidden" name="p" value="{{ p }}"><br>
                <input class="input" type="hidden" name="a" value="{{ a }}"><br>
                <input class="input" type="hidden" name="e" value="{{ e }}"><br>
                <input class="button-again" type="submit" value="{% translate 'send again' %}"><br>
            </form>
        </div>
    </main>
</body>
</html>