* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #657779;
    font-family: 'Inspiration', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}


.header-items {
    list-style: none;
    position: absolute;
    right: 20px;
    margin-top: 45px;
}
.header-item {
    margin-right: 10px;
    display: inline-block;
    
}
.header-item a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
}
.header-item a:hover{
    color: rgba(27, 27, 27, 0.735);
}


.main{
    display: inline-block;
    height: 105vh; 
    min-height: 600px;
    width: 100%;
    background: #657779;
    background: linear-gradient(180deg, #657779 14%, #344648 73%);
}
.main-div {
    width: 88vw;
    margin: auto;
    height: auto;
}
.contact-information{
    height: auto;
    position: absolute;
    width: 80vw;
    color: white;
    top: 20vh;
    text-align: justify;
    font-size: 16px;
}
.heading{
    display: inline-block;
    margin: 0;
    margin-top: 14vh;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
}
.text1{
    font-size: 20px;
    font-weight: 200;
}
.text2{
    font-size: 20px;
    font-weight: 300;
}
.text3{
    font-size: 20px;
    font-weight: 300;
}
.email{
    color: rgb(23, 20, 35);
    font-size: 20px;
    font-weight: 400;
}
.link{
    color: rgb(255, 255, 255);
    position: relative;    
    bottom: 20px;
    font-size: 20px;
    margin-top: 2px;
    display: inline-block;
    text-decoration: underline;
    font-weight: 100;
}
.link:hover{
    color: rgb(191, 189, 189);
}
#link_add{
    font-size: 20px;
}

@media(max-width: 630px){
    .main{
        height: 850px;
    }
}
@media(max-width: 560px){
    .main{
        height: 900px;
    }
}
@media(max-width: 490px){
    .main{
        height: 950px;
    }
}
@media(max-width: 470px){
    .main{
        height: 1000px;
    }
}
@media(max-width: 440px){
    .heading{
        font-size: 38px;
    }
    .main{
        height: 1080px;
    }
}
@media(max-width: 395px){
    .main{
        height: 1170px;
    }
}
@media(max-width: 360px){
    .main{
        height: 1300px;
    }
}
@media(max-width: 322px){
    .main{
        height: 1400px;
    }
}
@media(max-width: 300px){
    .email{
        font-size: 16px;
    }
}
@media(max-width: 290px){
    .main{
        height: 1500px;
    }
}
@media(max-width: 265px){
    .main{
        height: 1600px;
    }
}
@media(max-width: 251px){
    .main{
        height: 1700px;
    }
}
@media(max-width: 240px){
    .main{
        height: 1850px;
    }
}
@media(max-width: 210px){
    .main{
        height: 1900px;
    }
}
@media(max-width: 200px){
    .main{
        height: 1350px;
    }
    .text1{
        font-size: 14px;
    }
    .email{
        font-size: 14px;
    }
    .text2{
        font-size: 14px;
    }
    .text3{
        font-size: 14px;
    }
    #link_add{
        font-size: 14px;
    }
}

@media(min-width: 800px){
    .header-items {
        right: 2vw;
        z-index: 1;
        margin-top: 14px;
        top: 0.5px;
    }
    .header-item a{
        background-color: rgba(52,70,72,1);
        border-radius: 0px 0px 8px 8px;
        padding: 15px 20px;
        background-color: #29292a;
        color: #ffffff;
        text-decoration: none;
        margin-right: 5px;
    }
    .header-item a:hover{
        background-color: rgba(0, 0, 0, 0.735);
    }


    .main{
        display: inline-block;
        background: #344648;
    }
    .main-div {
        display: flex;
        background: linear-gradient(90deg, #344648 30%, #ffffff 0%);
        box-shadow: 3px 3px 6px 2px #293536, -3px -3px 6px 2px #293536;
        height: 85vh;
        width: 90vw;
        margin: auto;
        position: relative;
        vertical-align: middle;
        margin-top: 9vh;
    }
    .contact-information{
        width: 50%;
        right: 10vw;
        top: 50px;
        color: black;
        font-size: 20px;
    }
    .heading{
        position: absolute;
        font-size: 46px;
        color: #ffffff;
        margin-top: 5vh;
        margin-left: 4vw;
    } 
    .text1{
        font-size: 18px;
    }
    .text2{
        font-size: 18px;
    }
    .text3{
        font-size: 18px;
    }
    .link{
        color: rgb(23, 20, 35);
        font-size: 18px;
    }
    .link:hover{
        color: #344648;
    }
    .email{
        font-size: 18px;
    }
    #link_add{
        font-size: 18px;
    }
    @media(max-height: 850px){
        .main{
            min-height: 895px;
        }
        .main-div{
            min-height: 725px;
        }
    }
    @media(max-height: 700px){
        .heading{
            font-size: 46px;
            margin-top: 5vh;
        }
    }
    @media(max-height: 620px){
        .heading{
            font-size: 42px;

        }
    }
}
@media(min-width: 900px){
    @media(max-height: 850px){
        .main{
            min-height: 840px;
        }
        .main-div{
            min-height: 700px;
        }
    }
}
@media(min-width: 1150px){
    .heading{
        font-size: 52px;
    }
    .contact-information{
        top: 50px;
    }
    .text1{
        font-size: 20px;
    }
    .text2{
        font-size: 20px;
    }
    .text3{
        font-size: 20px;
    }
    .link{
        font-size: 20px;
    }
    #link_add{
        font-size: 20px;
    }
    .email{
        font-size: 20px;
    }
    @media(max-height: 780px){
        .main{
            min-height: 819px;
        }
        .main-div{
            min-height: 663px;
        }
    }
}
@media(min-width: 1400px){
    .heading{
        font-size: 66px;
    }
}